
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html {
    scroll-behavior: smooth;
}

body {
     background: #f9f6ee;
}

::selection {
    color:  #f9f6ee;
    background: #D9A273;
  }

li {
    list-style-type: none;
    margin-left: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

section {
    transition: all 300ms ease;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.container {
    padding: 50px 0;
}

input, textarea {
    width: 100%;
    color:  #f9f6ee;
    background-color: #242424;
    height: 40px;
    border: 1px solid #f9f6ee;
    border-radius: 20px;
    box-shadow: 2px 3px;
    transition: all 300ms ease;
    padding: 16px 16px;
    outline:none;

}

input:hover, textarea:hover {
    box-shadow: 4px 5px;
}
input::placeholder{
    color:  #f9f6ee; 
}


textarea::placeholder {
    color:  #f9f6ee;
}
textarea {
    resize: vertical;
    height: 100px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

.click {
    transition: all 300ms ease;
    cursor: pointer;
}
.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

.title {
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.color {
    color: #edb788;
}
.green {
    background-color: #a1b281;
    border-radius: 50px;
    padding: 0px 12px;
}

.yellow {
    background-color: #FFe2a1;
    border-radius: 50px;
    padding: 0px 12px;
    font-style: italic;
}

.orange {
    background: #edb788;
    border-radius: 50px;
    padding: 0px 12px;
}

.link__hover--effect {
    position: relative;
}

.link__hover--effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    right: 0;
    width: 0;
    background-color: black;
    transition: all 300ms ease;
}

.link__hover--effect:hover::after {
    width: 100%;
    left: 0;
}

.link__hover--effect-white:after {
    background-color: #f9f6ee;
}

.link__hover--effect-black:after {
    background-color: black;
}

nav, .scroll, .header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms 800ms;
}

.modal--open nav,
.modal--open .scroll, .modal--open .header {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}

.dark-theme .title, .dark-theme .section__title, .dark-theme .section__sub-title, .dark-theme .fa-circle-half-stroke, .dark-theme .header__para, .dark-theme .project__description, .dark-theme .project__description--link {
    color:  #f9f6ee;
}  
 .dark-theme .link__hover--effect-black:after, .dark-theme .scroll__icon::after {
    background:  #f9f6ee;
} 
.dark-theme section, .dark-theme .project__wrapper--bg {
    background: #242424;
}
.dark-theme .scroll__icon, .dark-theme .border{
    border-color:  #f9f6ee;
}

.dark-theme .mail_btn {
    background-color:  #f9f6ee;
    color: #242424;
}

.dark-theme .project__wrapper {
    background: rgba(36, 36, 36, 0.5);
}





/*

LANDING PAGE

*/

#landing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    padding: 0 30px;
}

.header__para {
    font-size: 36px;
    line-height: 1.5;
    max-width: 750px;
}


.social__list {
    margin-top: 16px;
    display: flex;
}


.social__link {
    background-color: #edb788;
    color:  #f9f6ee;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    border-radius: 50%;

}

.mail_btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color:  #f9f6ee;
    position: fixed;
    bottom: 32px;
    right: 40px;
    z-index: 100;
    box-shadow: 0 12px 30px 0 rgba(249, 246, 238, 0.2);

}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon::after {
    background-color: #242424;
    content: "";
    width: 4px;
    height: 6px;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}

.blue {
    background-color:#80A7BF;
    border-radius: 10px;


}



/*

NAVIGATION

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

.border {
    border-top: 2px solid #242424;
}
.nav__link--list {
    display: flex;
    align-items: center;
}

#personal-logo {
    width: 80px;
    height: 80px;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    font-size: 18px;
    color: #a1b281;
    font-weight: 700;
}

.yellow__sparkle {
   width: 100%;
   height: 60px;
}

/*

MODAL

*/
.modal--open .modal {
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.5);
    visibility: visible;

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    /* visibility: hidden; */
    z-index: -1;
    transition: visbility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal__half {
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;
}

.modal--open .modal__about, .modal--open .modal__contact  {
    transform: translateX(0%);
}


.modal__about {
background-color:  #f9f6ee;
transform: translateX(-110%);

}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
}

.modal__language {
    width: 25%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
}

.modal__language--img {
    width: 100%;
}

.modal__language:hover {
    filter: brightness(80%);
    transform: scale(0.9);
}
.modal__language:hover .language__name {
  transform: scale(1);

}

.language__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
}

.modal__title {
    font-size: 26px;
}

.modal__sub-title {
    margin: 12px 0 24px 0;
    font-size: 14px;
}

.modal__para {
    margin-bottom: 12px;
    line-height: 1.75;
}

.modal__contact {
    background-color: #242424;
    color: #f9f6ee;  
    transform: translateX(110%);
}

.form__item {
    margin-bottom: 20px;
}

.form__submit {
    color:  #f9f6ee;
    background-color: #a1b281;
    padding: 8px 12px;
    border: 1px solid  #f9f6ee;
    border-radius: 20px;
    box-shadow: 4px 4px;
    transition: all 300ms ease;
}

/* 
.form__submit:hover {
    box-shadow: 6px 6px 0  #f9f6ee;
    transform: translate(-4px,-4px);
} */

.form__submit:active {
    background-color: #242424;
}

.button__submit {
text-align: right;
}

.modal__overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal__overlay--loading {
    background-color:  #FFD985;
    font-size: 80px;
    z-index: -1;
}

.fa-hurricane {
    animation: spinner 750ms infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal__overlay--success {
    background:  #D9A273;
    font-size: 40px;
    text-align: center;
    padding: 28px;
    z-index: -1;
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color:  #f9f6ee;
    font-size: 32px;
    z-index: 100;
}

.modal__overlay--visible {
    z-index: 1;
    display: flex;
}

/*

PROJECTS

*/
.projects {
   position: relative;
}
.section__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.project__list {
    display: flex;
    flex-direction: column;

}

.project {
    margin-bottom: 32px;
}

.project__img{
    width: 100%;
    transition: all 600ms ease;
}

.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}
.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 (rgba(249, 246, 238, 0.5));
    overflow: hidden;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);

}

.project__wrapper:hover .project__img {
    transform: scale(1.07);
    filter: blur(7px);
}
.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.5;
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 300ms, transform 450ms ease;
    color:  #242424;
    max-width: 600px;
    
}

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f6ee;
    opacity: 0;
}

.project__description--title {
    font-size: 40px;
}

.project__description--sub-title {
    margin-top: 8px;
}

.project__description--link {
    color:  #242424;
    font-size: 20px;
    margin-right: 16px;
}

.project__description--para {
    margin: 16px 0;
}

/* 

FOOTER 

*/

footer {
    position: relative;
    background-color: #242424;
    padding: 6% 0;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer__logo--img {
    width: 70px;
    /* height: 80px; */

}

.footer__social--list {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    
}

.footer__social--link, .footer__copyright {
    color:  #f9f6ee;
}

/*

SHAPES
shapes on the first row 
height = 35 vh

shapes on the second row
height = 70vh

shapes on the third row
height = 95vh

shapes on the first column 
width = 5vw

shapes on the second column
width = 50vm

shapes on the third column
width = 80vw
*/

.shape--0 {
    top: 15vh;
   left: 5vw;
}
.shape--1 {
    top: 15vh;
   left: 50vw;
}
.shape--2 {
    top: 15vh;
   left: 80vw;
}
.shape--3 {
    top: 50vh;
   left: 5vw;
}
.shape--4 {
    top: 50vh;
   left: 50vw;
}
.shape--5 {
    top: 50vh;
   left: 80vw;
}
.shape--6 {
    top: 80vh;
   left: 5vw;
}
.shape--7 {
    top: 80vh;
   left: 50vw;
}
.shape--8 {
    top: 80vh;
   left: 80vw;
}

.shape {
    position: fixed;
    max-width: 15px;
}


/*

Small phones, tablets, large smart phones

*/

@media only screen and (max-width: 768px) {
    .title {
        font-size: 80px;
    }
    .header__para {
        font-size: 30px;
    }
    .modal {
        top: 0;
        left: 0;
        transform: none;
        height: auto;
        width: 100%;
        flex-direction: column-reverse;

    }
    .modal__half {
        width: 100%;
        padding: 40px;
    }
    .project__description--title {
        font-size: 32px;
    }
    .project__description--sub-title {
        font-size: 16px;
    }
    .project__description--para {
        font-size: 12px;
    }
    .project__description {
        left: 0;
        padding: 0 12px;
        width: 100%;
        text-align: center;
    }
}


/*

Small phones

*/

@media only screen and (max-width: 480px) {
    .title {
        font-size: 52px;
    }
    .header__para {
        font-size: 18px;
    }
    .nav__link:first-child {
        display: none;
    }
  
    .project__description--sub-title {
        font-size: 16px;
    }
    .project__description--para {
        display: none;
    }
}